name: CI initial setup

on: 
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Install jq and bc (required for act)
        run: |
          sudo apt-get update -y
          sudo apt-get install -y jq bc


      - name: Fix Jest permissions (required for act)
        run: chmod +x ./node_modules/.bin/jest


      - name: Run ESLint
        run: node node_modules/eslint/bin/eslint.js .

      - name: Run tests with coverage
        run: npm test -- --runInBand --coverage --coverageReporters="json-summary" --coverageReporters="text"


      